body {
    background: #141414;
    color: #ffffff;
}

.movie-app > .row, .movie-app > .pagination {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.card-img-top {
    position: relative;
    transition: transform 0.2s;
}

.card-img-top:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.card-img-top:hover {
    opacity: 1;
}